@using System.Security.Claims

@model ASP_P15.Models.Shop.ShopProductPageModel
@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    String? userId = Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value;

    var isProductInCart = Model.CartProducts.Any(cp => cp.ProductId == Model.Product.Id);
    var cartProduct = Model.CartProducts.FirstOrDefault(cp => cp.ProductId == Model.Product.Id);

    double sum = 0;
    double amount = 0;

    foreach (var feedback in Model.Product.Feedbacks)
    {
        sum += feedback.Rate;
        amount++;
    }

    var averageRating = amount > 0 ? sum / amount : 0;
    var fullStars = (int)averageRating;
    var halfStars = averageRating - fullStars >= 0.5 ? 1 : 0;
    var emptyStars = 5 - fullStars - halfStars;
}

<!-- Feedback Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Додати відгук</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="number" id="modal-feedback-rate" value="5" min="1" max="5" />
                <textarea id="modal-feedback" class="form-control" data-user-id="@userId" data-timestamp="@DateTime.Now.Ticks" data-product-id="@Model.Product.Id"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" id="modal-feedback-button">Надіслати</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Додати відгук</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="number" id="modal-feedback-rate" value="5" min="1" max="5" />
                <textarea id="modal-feedback" class="form-control" data-user-id="@userId" data-timestamp="@DateTime.Now.Ticks" data-product-id="@Model.Product.Id"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" id="modal-feedback-button">Надіслати</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-sm-6 col-xl-4 product-picture-container">
            <img class="product-picture" src="/Home/Download/Shop_@(Model.Product.Image)" alt="Picture" />
        </div>
        <div class="col col-sm-4 col-xl-4 product-info">
            <h1>@Model.Product.Name</h1>
            <p>@Model.Product.Description</p>
            <h2>₴ @Model.Product.Price.ToString("F2")</h2>
            <h5>
                @for (int i = 0; i < fullStars; ++i)
                {
                    <span class="bi bi-star-fill" style="color: gold;"></span>
                }
                @if (halfStars > 0)
                {
                    <span class="bi bi-star-half" style="color: gold;"></span>
                }
                @for (int i = 0; i < emptyStars; ++i)
                {
                    <span class="bi bi-star" style="color: gold;"></span>
                }
            </h5>
            <input type="hidden" data-role="user-id" value="@userId">
            @await Html.PartialAsync("_AddToCartButton", Model.Product)
            <div class="row feedback-add-section">
                @if (isAuthenticated)
                {
                    <button id="add-feedback-button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#feedbackModal">Додати відгук</button>
                }
            </div>
        </div>
        <div class="row feedback-section">
            <b>Відгуки про товар:</b>
            @if (Model.Product.Feedbacks.Count() == 0)
            {
                <i>Відгуків поки що немає</i>
            }
            else
            {
                <div class="product-feedback-container">
                    @foreach (var feedback in Model.Product.Feedbacks)
                    {
                        bool isMine = isAuthenticated && feedback.User?.Id.ToString() == userId;
                        String myClass = isMine ? "my-product-feedback" : String.Empty;

                        <div class="product-feedback @myClass">
                            <b>@(feedback.User?.Name ?? "Анонімно")</b>
                            <i>@DateTime.FromBinary(feedback.Timestamp).ToShortDateString()</i>
                            <p data-feedback-id="@feedback.Id" data-role="feedback-text">@feedback.Text</p>
                            <div class="d-flex justify-content-between">
                                <div data-feedback-id="@feedback.Id" data-role="feedback-rate" data-value="@feedback.Rate">
                                    @for (int i = 0; i < feedback.Rate; ++i)
                                    {
                                        <span class="bi bi-star-fill"></span>
                                    }
                                    @for (int i = 0; i < 5 - feedback.Rate; ++i)
                                    {
                                        <span class="bi bi-star"></span>
                                    }
                                </div>
                                @if (isMine)
                                {
                                    <div>
                                        <button class="btn btn-outline-warning" data-feedback-id="@feedback.Id" data-role="feedback-edit"><i class="bi bi-pencil-square"></i></button>
                                        <button class="btn btn-outline-danger" data-feedback-id="@feedback.Id" data-role="feedback-delete"><i class="bi bi-x-square"></i></button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<br />

<div class="related-products-section container">
    @if (Model.ProductGroup.Products != null && Model.ProductGroup.Products.Any())
    {
        <h3><b>Вас також може зацікавити</b></h3>
        <div class="related-products-row">
            @foreach (var product in Model.ProductGroup.Products.Where(p => p != Model.Product).Take(5))
            {
                <div class="related-product-column">
                    <a asp-action="Product" asp-route-id="@(product.Slug ?? product.Id.ToString())" class="related-product-link">
                        <div class="related-product-card">
                            <div class="related-product-image-container">
                                <img class="related-product-image" src="/Home/Download/Shop_@(product.Image)" alt="Picture" />
                            </div>
                            <p class="related-product-title">@product.Name <br /> ₴@product.Price</p>
                            <div class="related-product-description">
                                <p>@product.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
    </div>
    }
</div>
